/* Main CSS File */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@keyframes rainbow-border {
  0% {
    border-color: #ff0000;
    box-shadow: 0 0 10px #ff0000;
  }

  14% {
    border-color: #ff7f00;
    box-shadow: 0 0 10px #ff7f00;
  }

  28% {
    border-color: #ffff00;
    box-shadow: 0 0 10px #ffff00;
  }

  42% {
    border-color: #00ff00;
    box-shadow: 0 0 10px #00ff00;
  }

  56% {
    border-color: #0000ff;
    box-shadow: 0 0 10px #0000ff;
  }

  70% {
    border-color: #4b0082;
    box-shadow: 0 0 10px #4b0082;
  }

  84% {
    border-color: #8b00ff;
    box-shadow: 0 0 10px #8b00ff;
  }

  100% {
    border-color: #ff0000;
    box-shadow: 0 0 10px #ff0000;
  }
}

.rainbow-border {
  border-width: 2px !important;
  animation: rainbow-border 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes breathing {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.animate-breathing {
  animation: breathing 3s ease-in-out infinite;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}